@model DoneIt.ViewModels.WorkingItem.WorkingItemEditViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit Working Item";
}

<form method="post" asp-action="Edit">
    <div class="card">
        <div class="card-content">
            <div class="field">
                <label class="label" asp-for="PrivateId"></label>
                <div class="control has-icons-left">
                    <input class="input is-primary readonly" asp-for="PrivateId" readonly />
                    <span class="icon is-left">
                        <span class="fas fa-pen"></span>
                    </span>
                </div>
                <span asp-validation-for="Name" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label" asp-for="Name"></label>
                <div class="control has-icons-left">
                    <input class="input is-primary" asp-for="Name" />
                    <span class="icon is-left">
                        <span class="fas fa-pen"></span>
                    </span>
                </div>
                <span asp-validation-for="Name" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label" asp-for="Description"></label>
                <div class="control has-icons-left">
                    <textarea class="textarea is-primary p-t-lg p-l-lg" rows="10" asp-for="Description"></textarea>
                    <span class="icon is-left">
                        <span class="fas fa-sticky-note"></span>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label" asp-for="DateTimeFrom"></label>
                <div class="control">
                    <input class="input is-primary" asp-for="DateTimeFrom" />
                </div>
                <span asp-validation-for="DateTimeFrom" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label" asp-for="DateTimeTo"></label>
                <div class="control">
                    <input class="input is-primary" asp-for="DateTimeTo" />
                </div>
                <span asp-validation-for="DateTimeTo" class="is-danger"></span>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Apply</button>
                </div>
            </div>
        </div>
    </div>
</form>
