<div class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">You Done It!</h1>
            <h2 class="subtitle">show UserName here</h2>
        </div>
    </div>
</div>