<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_CssImport" />
    <partial name="_FontImport" />
</head>
<body>
    <header>
        <partial name="SignIn/_SignInHeader" />
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
