<article class="box media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="http://placehold.it/128x128">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>CASAREAL</strong><br>
                内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
                <small><a href="#">Like</a> · <a href="#">Reply</a> · 3 hrs</small>
            </p>
        </div>
        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="http://placehold.it/96x96">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Sean Brown</strong><br>
                        コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント<br>
                        <small><a href="#">Like</a> · <a href="#">Reply</a> · 2 hrs</small>
                    </p>
                </div>
                <article class="media">
                    リプライリプライリプライリプライリプライリプライリプライリプライリプライリプライ。
                </article>
                <article class="media">
                    リプライリプライリプライリプライリプライリプライリプライリプライリプライリプライ。
                </article>
            </div>
        </article>
    </div>
</article>
<article class="box media">
    <figure class="media-left">
        <p class="image is-48x48">
            <img src="http://placehold.it/96x96">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>CASAREAL</strong><br>
                内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
                <small><a href="#">Like</a> · <a href="#">Reply</a> · 2 hrs</small>
            </p>
        </div>
    </div>
</article>