<div class="navbar is-fixed-top">
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <form method="post">
                    <span class="fa fa-sign-out-alt"></span>
                    <a asp-action="Signout" asp-controller="Account" class="is-text">Sign Out!</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">@User.Identity.Name Done</h1>
            <h2 class="subtitle">@ViewBag.Title</h2>
        </div>
    </div>
</div>