<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>タイトル</title>
    <partial name="_CssImport" />
    <partial name="_FontImport" />
    <style>
        main {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    <header>
        <partial name="_Header" />
    </header>

    <main class="columns">
        <div class="submenu column is-3">
            <partial name="_Sidebar" />
        </div>
        <div class="column">
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <partial name="_Footer" />
    </footer>

    <partial name="_JavascriptImport" />

    <script src="~/js/sidebarLinkActivate.min.js" asp-append-version="true"></script>
</body>
</html>
