<aside>
    <p>
        Recently
    </p>
    <ul class="menu-list">
    </ul>
</aside>

<aside id="sidebar_body" class="box menu">
    <p>
        Menu
    </p>
    <ul class="menu-list">
        <li>
            <a asp-action="Index" asp-controller="WorkingItem">Working Items</a>
        </li>
        <li>
            <a asp-action="Create" asp-controller="WorkingItem">Add Working Item</a>
        </li>
    </ul>
</aside>